* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    color: #333;
}

p {
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

input {
    width: 100%;
    padding: 1em;
    display: block;
}

label {
    font-size: 14px;
    display: inline-block;
    margin-top: 10px;
}

img {
    width: 100%;
    object-fit: cover;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.Form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

.Form h1 {
    margin-top: 0;
    text-align: center;
}

.Form a {
    color: teal;
    text-decoration: underline;
}
