.Settings__profilePic {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}

.Settings__profilePic img {
    width: 80px;
    margin-right: 1em;
}

.profilePicLabel {
    background-color: rgb(59, 118, 194);
    padding: 0.5em 1em;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

.settingsSubmit {
    background-color: tomato;
    border: none;
    padding: 1em 2.5em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 1em;
}
.Settings__success {
    color: greenyellow;
    font-size: 2em;
}
