.Post {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 2em;
    border-radius: 1px;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
        rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding-bottom: 1em;
    cursor: pointer;
    transform: scale(0.99);
    transition: transform 0.3s;
}

.Post:hover {
    transform: scale(1);
}

.Post small {
    color: #666;
}

.Post__image {
    max-width: 100%;
    height: 100px;
    object-fit: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.Post__categories {
    margin: 0 1em;
    margin-top: 1em;
}
.Post__categories > * {
    margin-right: 1em;
}

.Post__content {
    padding: 0 1.2em;
}

.Post__title {
    margin-bottom: 0;
    margin-top: 0.5em;
}
.Post__body {
    margin-top: 1em;
    font-size: 0.9rem;
    color: rgba(0, 0, 0, 0.7);
}
